body{
    background-color: #f0f0f0;
    background-image: url('img/pets-fundo.jpg ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    color: #000000;
    background-color: #f0f0f0da;
    font-family: Arial, sans-serif;
    margin: 2% 30% 0% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    border: px solid #000000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

button{
    display: flex;
    border-radius: 5px;
    margin: 1%;
    height: 20px;
}

input{
    width: 80%;
    height: 20px;
    border-radius: 5px;
    margin: 1%;
    padding: 5px;
    border: 1px solid #ccc;
}